@font-face {
    font-family: myfont;
    src: url(Inter_18pt-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: myfont;
    src: url(Inter_18pt-Bold.ttf);
    font-weight: 700;
}